<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="System" path="*" verb="*" modules="FastCgiModule" scriptProcessor="F:\Python27\python.exe|E:\***\wfastcgi.py" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>
