{% extends "base.html" %}
{% block pagetitle %}
    <div class="page-title-alt-bg"></div>
    <div class="page-title-box">
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0);">按行业/地域/概念分类浏览股票财务信息。</a></li>
            {#            <li class="breadcrumb-item"><a href="javascript:void(0);">场内动态全景</a></li>#}
        </ol>
        <h4 class="page-title">数据中心：财务信息</h4>
    </div>
{% endblock %}
{% block css %}
    <style type="text/css">
        #datatable.table > thead > tr > th {
            text-align: center;
        }
    </style>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-1"></div>
        <div class="col-4">
            <ul class="nav nav-pills navtab-bg nav-justified">
                <li class="nav-item" id="button_industry">
                    <a href="#home1" data-toggle="tab" aria-expanded="false" class="nav-link  active"><i
                            class="mdi mdi-view-list"></i> 行业分类</a>
                </li>
                <li class="nav-item" id="button_region">
                    <a href="#profile1" data-toggle="tab" aria-expanded="true" class="nav-link"><i
                            class="mdi mdi-view-list"></i> 地域板块</a>
                </li>
                <li class="nav-item" id="button_concept">
                    <a href="#messages1" data-toggle="tab" aria-expanded="false" class="nav-link"><i
                            class="mdi mdi-view-list"></i> 概念板块</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane" id="home1"></div>
                <div class="tab-pane show active" id="profile1"></div>
                <div class="tab-pane" id="messages1"></div>
            </div>

        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>
        <div class="col-11">
            <div class="button-list" id="industry_list">
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 30px">
        <div class="col-1"></div>
        <div class="col-8" style="font-size:large;font-weight: bold">
            <i class="mdi mdi-near-me"></i><a id="title_type"></a><a id="industry"></a><a id="time" style="color: red">(2018/09/30)</a>
        </div>
        <div class="col-3">
            <ul class="nav nav-pills navtab-bg nav-justified">
                <li class="nav-item">
                    <a href="#home1" data-toggle="tab" aria-expanded="false" class="nav-link"><i
                            class="mdi mdi-circle-outline"></i> 行情信息</a>
                </li>
                <li class="nav-item">
                    <a href="#profile1" data-toggle="tab" aria-expanded="true" class="nav-link active"><i
                            class="mdi mdi-circle-outline"></i> 财务信息</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-1"></div>
        <div class="col-11">
            <table id="datatable" class="table table-bordered dt-responsive">
                <thead>
                <tr>
                    <th>股<br>票<br>代<br>码</th>
                    <th style='width: 50px'>股<br>票<br>名<br>称</th>
                    <th>基<br>本<br>每<br>股<br>收<br>益<br>(元)</th>
                    <th>净<br>利<br>润<br>(亿)</th>
                    <th>总<br>资<br>产<br>(亿)</th>
                    <th>总<br>负<br>债<br>(亿)</th>
                    <th>主<br>营<br>业<br>务<br>利<br>润<br>率<br>(%)</th>
                    <th>净<br>资<br>产<br>收<br>益<br>率<br>(%)</th>
                    <th>流<br>动<br>比<br>率<br>(%)</th>
                    <th>资<br>产<br>负<br>债<br>率<br>(%)</th>
                    <th>净<br>利<br>润<br>增<br>长<br>率<br>(%)</th>
                    <th>净<br>资<br>产<br>增<br>长<br>率<br>(%)</th>
                    <th>存<br>货<br>周<br>转<br>率<br>(%)</th>
                    <th>总<br>资<br>产<br>周<br>转<br>率<br>(%)</th>
                    <th>财<br>务<br>得<br>分</th>
                </tr>
                </thead>
                <tbody id="tb"></tbody>
            </table>
        </div>
    </div>

{% endblock %}
{% block scripts %}
    <script src="{{ url_for('static',filename='libs/sparkline/jquery.sparkline.min.js') }}"></script>
    <script src="{{ url_for('static',filename='libs/datatables.net/js/jquery.dataTables.min.js') }}"></script>
      <script type="text/javascript">
        $(document).ready(function () {
            $("#title_type").text("行业分类 > > ");
            $.ajax({
                type: 'GET',
                url: '{{url_for("industry_analysis.api_get_all_industry")}}',
                data: {},
                dataType: 'json',
                success: function (data_1) {
                    var current_industry = data_1[0];
                    $("#industry").text(current_industry);
                    $.ajax({
                        type: 'GET',
                        url: '{{url_for("industry_analysis.api_get_industry_stock_data")}}',
                        data: {
                            industry: current_industry
                        },
                        dataType: 'json',
                        success: function (data) {
                            for (var i in data) {
                                console.log(i);
                                var tr = "<tr style = 'color:" + data[i]['color'] + "'><td>" + i + "</td><td>" + data[i]['sec_name'] + "</td><td>" + data[i]['eps_basic_is'] + "</td><td>" + data[i]['net_profit_is'] + "</td><td>" + data[i]['tot_assets'] + "</td><td>" + data[i]['tot_liab'] + "</td><td>" + data[i]['pro_margin_main_business'] + "</td><td>" + data[i]['rate_return_on_equity'] + "</td><td>" + data[i]['ratio_current'] + "</td><td>" + data[i]['ratio_asset_liability'] + "</td><td>" + data[i]['growth_rate_net_profit'] + "</td><td>" + data[i]['growth_rate_net_assets'] + "</td><td>" + data[i]['ratio_inventory_turnover'] + "</td><td>" + data[i]['ratio_tot_assets_turnover'] + "</td><td>" + data[i]['score'] + "</td></tr>";
                                $("#tb").append(tr);
                            }
                            $('#datatable').DataTable({
                                "searching": true,
                                "info": true,
                                "retrieve": true,
                                "oLanguage": {
                                    "sLengthMenu": "每页显示 _MENU_ 条记录",
                                    "sSearch": "搜索：",
                                    "sZeroRecords": "抱歉， 没有找到",
                                    "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                    "sInfoEmpty": "没有数据",
                                    "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                    "oPaginate": {
                                        "sFirst": "首页",
                                        "sPrevious": "前一页",
                                        "sNext": "后一页",
                                        "sLast": "尾页"
                                    },
                                }
                            })
                        }
                    });
                    for (var i in data_1) {
                        var bt = document.createElement("button");
                        var bt_class = 'btn btn-outline-primary w-md';
                        bt.innerHTML = data_1[i];
                        bt.setAttribute("class", bt_class);
                        bt.onclick = function (params) {                          //绑定点击事件
                            current_industry = params.currentTarget['innerHTML'];
                            $("#industry").text(current_industry);
                            $("#tb").html('');
                            if ($('#datatable').hasClass('dataTable')) {
                                dttable = $('#datatable').dataTable();
                                dttable.fnClearTable();
                                dttable.fnDestroy(); //还原初始化了的datatable
                            }
                            $.ajax({
                                type: 'GET',
                                url: '{{url_for("industry_analysis.api_get_industry_stock_data")}}',
                                data: {
                                    industry: current_industry
                                },
                                dataType: 'json',
                                success: function (data) {
                                    for (var i in data) {
                                        var tr = "<tr style = 'color:" + data[i]['color'] + "'><td>" + i + "</td><td>" + data[i]['sec_name'] + "</td><td>" + data[i]['eps_basic_is'] + "</td><td>" + data[i]['net_profit_is'] + "</td><td>" + data[i]['tot_assets'] + "</td><td>" + data[i]['tot_liab'] + "</td><td>" + data[i]['pro_margin_main_business'] + "</td><td>" + data[i]['rate_return_on_equity'] + "</td><td>" + data[i]['ratio_current'] + "</td><td>" + data[i]['ratio_asset_liability'] + "</td><td>" + data[i]['growth_rate_net_profit'] + "</td><td>" + data[i]['growth_rate_net_assets'] + "</td><td>" + data[i]['ratio_inventory_turnover'] + "</td><td>" + data[i]['ratio_tot_assets_turnover'] + "</td><td>" + data[i]['score'] + "</td></tr>";
                                        console.log(data[i]['score']);
                                        $("#tb").append(tr);
                                    }
                                    $('#datatable').DataTable({
                                        "searching": true,
                                        "info": true,
                                        "retrieve": true,
                                        "oLanguage": {
                                            "sLengthMenu": "每页显示 _MENU_ 条记录",
                                            "sSearch": "搜索：",
                                            "sZeroRecords": "抱歉， 没有找到",
                                            "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                            "sInfoEmpty": "没有数据",
                                            "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                            "oPaginate": {
                                                "sFirst": "首页",
                                                "sPrevious": "前一页",
                                                "sNext": "后一页",
                                                "sLast": "尾页"
                                            },
                                        }
                                    })
                                }
                            })
                        };
                        $('#industry_list').append(bt);
                    }
                }
            });
            $("#button_region").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '{{url_for("industry_analysis.api_get_all_region")}}',
                    data: {},
                    dataType: 'json',
                    success: function (data_1) {
                        $('#industry_list').html("");
                        $("#title_type").text("地域分类 > > ");
                        var current_region = data_1[0];
                        $("#industry").text(current_region);
                        $("#tb").html('');
                        if ($('#datatable').hasClass('dataTable')) {
                            dttable = $('#datatable').dataTable();
                            dttable.fnClearTable();
                            dttable.fnDestroy(); //还原初始化了的datatable
                        }
                        $.ajax({
                            type: 'GET',
                            url: '{{url_for("industry_analysis.api_get_region_stock_data")}}',
                            data: {
                                region: current_region
                            },
                            dataType: 'json',
                            success: function (data) {
                                for (var i in data) {
                                    var tr = "<tr style = 'color:" + data[i]['color'] + "'><td>" + i + "</td><td>" + data[i]['sec_name'] + "</td><td>" + data[i]['eps_basic_is'] + "</td><td>" + data[i]['net_profit_is'] + "</td><td>" + data[i]['tot_assets'] + "</td><td>" + data[i]['tot_liab'] + "</td><td>" + data[i]['pro_margin_main_business'] + "</td><td>" + data[i]['rate_return_on_equity'] + "</td><td>" + data[i]['ratio_current'] + "</td><td>" + data[i]['ratio_asset_liability'] + "</td><td>" + data[i]['growth_rate_net_profit'] + "</td><td>" + data[i]['growth_rate_net_assets'] + "</td><td>" + data[i]['ratio_inventory_turnover'] + "</td><td>" + data[i]['ratio_tot_assets_turnover'] + "</td><td>" + data[i]['score'] + "</td></tr>";
                                    console.log(data[i]['score']);
                                    $("#tb").append(tr);
                                }
                                $('#datatable').DataTable({
                                    "searching": true,
                                    "info": true,
                                    "retrieve": true,
                                    "oLanguage": {
                                        "sLengthMenu": "每页显示 _MENU_ 条记录",
                                        "sSearch": "搜索：",
                                        "sZeroRecords": "抱歉， 没有找到",
                                        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                        "sInfoEmpty": "没有数据",
                                        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                        "oPaginate": {
                                            "sFirst": "首页",
                                            "sPrevious": "前一页",
                                            "sNext": "后一页",
                                            "sLast": "尾页"
                                        },
                                    }
                                })
                            }
                        })
                        for (var i in data_1) {
                            var bt = document.createElement("button");
                            var bt_class = 'btn btn-outline-primary w-md';
                            bt.innerHTML = data_1[i];
                            bt.setAttribute("class", bt_class);
                            bt.onclick = function (params) {                          //绑定点击事件
                                current_region = params.currentTarget['innerHTML'];
                                $("#industry").text(current_region);
                                $("#tb").html('');
                                if ($('#datatable').hasClass('dataTable')) {
                                    dttable = $('#datatable').dataTable();
                                    dttable.fnClearTable();
                                    dttable.fnDestroy(); //还原初始化了的datatable
                                }
                                $.ajax({
                                    type: 'GET',
                                    url: '{{url_for("industry_analysis.api_get_region_stock_data")}}',
                                    data: {
                                        region: current_region
                                    },
                                    dataType: 'json',
                                    success: function (data) {
                                        for (var i in data) {
                                            var tr = "<tr style = 'color:" + data[i]['color'] + "'><td>" + i + "</td><td>" + data[i]['sec_name'] + "</td><td>" + data[i]['eps_basic_is'] + "</td><td>" + data[i]['net_profit_is'] + "</td><td>" + data[i]['tot_assets'] + "</td><td>" + data[i]['tot_liab'] + "</td><td>" + data[i]['pro_margin_main_business'] + "</td><td>" + data[i]['rate_return_on_equity'] + "</td><td>" + data[i]['ratio_current'] + "</td><td>" + data[i]['ratio_asset_liability'] + "</td><td>" + data[i]['growth_rate_net_profit'] + "</td><td>" + data[i]['growth_rate_net_assets'] + "</td><td>" + data[i]['ratio_inventory_turnover'] + "</td><td>" + data[i]['ratio_tot_assets_turnover'] + "</td><td>" + data[i]['score'] + "</td></tr>";
                                            console.log(data[i]['score']);
                                            $("#tb").append(tr);
                                        }
                                        $('#datatable').DataTable({
                                            "searching": true,
                                            "info": true,
                                            "retrieve": true,
                                            "oLanguage": {
                                                "sLengthMenu": "每页显示 _MENU_ 条记录",
                                                "sSearch": "搜索：",
                                                "sZeroRecords": "抱歉， 没有找到",
                                                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                                "sInfoEmpty": "没有数据",
                                                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                                "oPaginate": {
                                                    "sFirst": "首页",
                                                    "sPrevious": "前一页",
                                                    "sNext": "后一页",
                                                    "sLast": "尾页"
                                                },
                                            }
                                        })
                                    }
                                })
                            };
                            $('#industry_list').append(bt);
                        }
                    }
                });
            });
            $("#button_industry").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '{{url_for("industry_analysis.api_get_all_industry")}}',
                    data: {},
                    dataType: 'json',
                    success: function (data_1) {
                        $('#industry_list').html("");
                        $("#title_type").text("行业分类 > > ");
                        var current_industry_1 = data_1[0];
                        $("#industry").text(current_industry_1);
                        $("#tb").html('');
                        if ($('#datatable').hasClass('dataTable')) {
                            dttable = $('#datatable').dataTable();
                            dttable.fnClearTable();
                            dttable.fnDestroy(); //还原初始化了的datatable
                        }
                        $.ajax({
                            type: 'GET',
                            url: '{{url_for("industry_analysis.api_get_industry_stock_data")}}',
                            data: {
                                industry: current_industry_1
                            },
                            dataType: 'json',
                            success: function (data) {
                                for (var i in data) {
                                    var tr = "<tr style = 'color:" + data[i]['color'] + "'><td>" + i + "</td><td>" + data[i]['sec_name'] + "</td><td>" + data[i]['eps_basic_is'] + "</td><td>" + data[i]['net_profit_is'] + "</td><td>" + data[i]['tot_assets'] + "</td><td>" + data[i]['tot_liab'] + "</td><td>" + data[i]['pro_margin_main_business'] + "</td><td>" + data[i]['rate_return_on_equity'] + "</td><td>" + data[i]['ratio_current'] + "</td><td>" + data[i]['ratio_asset_liability'] + "</td><td>" + data[i]['growth_rate_net_profit'] + "</td><td>" + data[i]['growth_rate_net_assets'] + "</td><td>" + data[i]['ratio_inventory_turnover'] + "</td><td>" + data[i]['ratio_tot_assets_turnover'] + "</td><td>" + data[i]['score'] + "</td></tr>";
                                    console.log(data[i]['score']);
                                    $("#tb").append(tr);
                                }
                                $('#datatable').DataTable({
                                    "searching": true,
                                    "info": true,
                                    "retrieve": true,
                                    "oLanguage": {
                                        "sLengthMenu": "每页显示 _MENU_ 条记录",
                                        "sSearch": "搜索：",
                                        "sZeroRecords": "抱歉， 没有找到",
                                        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                        "sInfoEmpty": "没有数据",
                                        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                        "oPaginate": {
                                            "sFirst": "首页",
                                            "sPrevious": "前一页",
                                            "sNext": "后一页",
                                            "sLast": "尾页"
                                        },
                                    }
                                })
                            }
                        });
                        for (var i in data_1) {
                            var bt = document.createElement("button");
                            var bt_class = 'btn btn-outline-primary w-md';
                            bt.innerHTML = data_1[i];
                            bt.setAttribute("class", bt_class);
                            bt.onclick = function (params) {                          //绑定点击事件
                                current_industry_1 = params.currentTarget['innerHTML'];
                                $("#industry").text(current_industry_1);
                                $("#tb").html('');
                                if ($('#datatable').hasClass('dataTable')) {
                                    dttable = $('#datatable').dataTable();
                                    dttable.fnClearTable();
                                    dttable.fnDestroy(); //还原初始化了的datatable
                                }
                                $.ajax({
                                    type: 'GET',
                                    url: '{{url_for("industry_analysis.api_get_industry_stock_data")}}',
                                    data: {
                                        industry: current_industry_1
                                    },
                                    dataType: 'json',
                                    success: function (data) {
                                        for (var i in data) {
                                            var tr = "<tr style = 'color:" + data[i]['color'] + "'><td>" + i + "</td><td>" + data[i]['sec_name'] + "</td><td>" + data[i]['eps_basic_is'] + "</td><td>" + data[i]['net_profit_is'] + "</td><td>" + data[i]['tot_assets'] + "</td><td>" + data[i]['tot_liab'] + "</td><td>" + data[i]['pro_margin_main_business'] + "</td><td>" + data[i]['rate_return_on_equity'] + "</td><td>" + data[i]['ratio_current'] + "</td><td>" + data[i]['ratio_asset_liability'] + "</td><td>" + data[i]['growth_rate_net_profit'] + "</td><td>" + data[i]['growth_rate_net_assets'] + "</td><td>" + data[i]['ratio_inventory_turnover'] + "</td><td>" + data[i]['ratio_tot_assets_turnover'] + "</td><td>" + data[i]['score'] + "</td></tr>";
                                            console.log(data[i]['score']);
                                            $("#tb").append(tr);
                                        }
                                        $('#datatable').DataTable({
                                            "searching": true,
                                            "info": true,
                                            "retrieve": true,
                                            "oLanguage": {
                                                "sLengthMenu": "每页显示 _MENU_ 条记录",
                                                "sSearch": "搜索：",
                                                "sZeroRecords": "抱歉， 没有找到",
                                                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                                "sInfoEmpty": "没有数据",
                                                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                                "oPaginate": {
                                                    "sFirst": "首页",
                                                    "sPrevious": "前一页",
                                                    "sNext": "后一页",
                                                    "sLast": "尾页"
                                                },
                                            }
                                        })
                                    }
                                })
                            };
                            $('#industry_list').append(bt);
                        }
                    }
                });
            });
            $("#button_concept").click(function () {
                $.ajax({
                    type: 'GET',
                    url: '{{url_for("industry_analysis.api_get_all_concept")}}',
                    data: {},
                    dataType: 'json',
                    success: function (data_1) {
                        $('#industry_list').html("");
                        $("#title_type").text("概念板块 > > ");
                        var current_concept = data_1[0];
                        $("#industry").text(current_concept);
                        $("#tb").html('');
                        if ($('#datatable').hasClass('dataTable')) {
                            dttable = $('#datatable').dataTable();
                            dttable.fnClearTable();
                            dttable.fnDestroy(); //还原初始化了的datatable
                        }
                        $.ajax({
                            type: 'GET',
                            url: '{{url_for("industry_analysis.api_get_concept_stock_data")}}',
                            data: {
                                concept: current_concept
                            },
                            dataType: 'json',
                            success: function (data) {
                                for (var i in data) {
                                    var tr = "<tr style = 'color:" + data[i]['color'] + "'><td>" + i + "</td><td>" + data[i]['sec_name'] + "</td><td>" + data[i]['eps_basic_is'] + "</td><td>" + data[i]['net_profit_is'] + "</td><td>" + data[i]['tot_assets'] + "</td><td>" + data[i]['tot_liab'] + "</td><td>" + data[i]['pro_margin_main_business'] + "</td><td>" + data[i]['rate_return_on_equity'] + "</td><td>" + data[i]['ratio_current'] + "</td><td>" + data[i]['ratio_asset_liability'] + "</td><td>" + data[i]['growth_rate_net_profit'] + "</td><td>" + data[i]['growth_rate_net_assets'] + "</td><td>" + data[i]['ratio_inventory_turnover'] + "</td><td>" + data[i]['ratio_tot_assets_turnover'] + "</td><td>" + data[i]['score'] + "</td></tr>";
                                    $("#tb").append(tr);
                                }
                                $('#datatable').DataTable({
                                    "searching": true,
                                    "info": true,
                                    "retrieve": true,
                                    "oLanguage": {
                                        "sLengthMenu": "每页显示 _MENU_ 条记录",
                                        "sSearch": "搜索：",
                                        "sZeroRecords": "抱歉， 没有找到",
                                        "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                        "sInfoEmpty": "没有数据",
                                        "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                        "oPaginate": {
                                            "sFirst": "首页",
                                            "sPrevious": "前一页",
                                            "sNext": "后一页",
                                            "sLast": "尾页"
                                        },
                                    }
                                })
                            }
                        });
                        for (var i in data_1) {
                            var bt = document.createElement("button");
                            var bt_class = 'btn btn-outline-primary w-md';
                            bt.innerHTML = data_1[i];
                            bt.setAttribute("class", bt_class);
                            bt.onclick = function (params) {                          //绑定点击事件
                                current_region = params.currentTarget['innerHTML'];
                                $("#industry").text(current_region);
                                $("#tb").html('');
                                if ($('#datatable').hasClass('dataTable')) {
                                    dttable = $('#datatable').dataTable();
                                    dttable.fnClearTable();
                                    dttable.fnDestroy(); //还原初始化了的datatable
                                }
                                $.ajax({
                                    type: 'GET',
                                    url: '{{url_for("industry_analysis.api_get_concept_stock_data")}}',
                                    data: {
                                        concept: current_concept
                                    },
                                    dataType: 'json',
                                    success: function (data) {
                                        for (var i in data) {
                                            var tr = "<tr style = 'color:" + data[i]['color'] + "'><td>" + i + "</td><td>" + data[i]['sec_name'] + "</td><td>" + data[i]['eps_basic_is'] + "</td><td>" + data[i]['net_profit_is'] + "</td><td>" + data[i]['tot_assets'] + "</td><td>" + data[i]['tot_liab'] + "</td><td>" + data[i]['pro_margin_main_business'] + "</td><td>" + data[i]['rate_return_on_equity'] + "</td><td>" + data[i]['ratio_current'] + "</td><td>" + data[i]['ratio_asset_liability'] + "</td><td>" + data[i]['growth_rate_net_profit'] + "</td><td>" + data[i]['growth_rate_net_assets'] + "</td><td>" + data[i]['ratio_inventory_turnover'] + "</td><td>" + data[i]['ratio_tot_assets_turnover'] + "</td><td>" + data[i]['score'] + "</td></tr>";
                                            console.log(data[i]['score']);
                                            $("#tb").append(tr);
                                        }
                                        $('#datatable').DataTable({
                                            "searching": true,
                                            "info": true,
                                            "retrieve": true,
                                            "oLanguage": {
                                                "sLengthMenu": "每页显示 _MENU_ 条记录",
                                                "sSearch": "搜索：",
                                                "sZeroRecords": "抱歉， 没有找到",
                                                "sInfo": "从 _START_ 到 _END_ /共 _TOTAL_ 条数据",
                                                "sInfoEmpty": "没有数据",
                                                "sInfoFiltered": "(从 _MAX_ 条数据中检索)",
                                                "oPaginate": {
                                                    "sFirst": "首页",
                                                    "sPrevious": "前一页",
                                                    "sNext": "后一页",
                                                    "sLast": "尾页"
                                                },
                                            }
                                        })
                                    }
                                })
                            };
                            $('#industry_list').append(bt);
                        }

                    }
                });
            })
        });
    </script>
{% endblock %}
