{% extends "main/main_base.html" %}
{% block content %}
    <!-- HOME -->
    <section>
            <div class="container">
                <div class="row">
                    <div class="col-12">

                        <div class="wrapper-page">
                            <div class="account-pages">
                                <div class="account-box">

                                    <!-- Logo box -->
                                    <div class="account-logo-box">
                                        <h2 class="text-uppercase text-center">
                                            <a href="index.html" class="text-success">
                                                <span><img src="{{ url_for('static',filename='images/logo_dark.png') }}" alt="" height="28"></span>
                                            </a>
                                        </h2>
                                    </div>

                                    <div class="account-content text-center">
                                        <h1 class="text-error">500</h1>
                                        <h4 class="text-uppercase text-danger mt-3">服务器错误</h4>
                                        <p class="text-muted mt-3">{{ reason }}</p>
                                        <p class="text-muted mt-3">请尝试刷新页面或申请<a href="" class="text-muted"><b>帮助</b></a></p>

                                        <a class="btn btn-primary mt-3" href="{{ url_for('main.index') }}"><i class="mdi mdi-home mr-1"></i> 返回主页</a>
                                    </div> <!-- end account-content -->

                                </div> <!-- end account-box -->
                            </div>
                            <!-- end account-page-->
                        </div>
                        <!-- end wrapper-page -->

                    </div> <!-- end col -->
                </div> <!-- end row -->
            </div> <!-- end container -->
        </section>
    <!-- END HOME -->
{% endblock %}