{% extends "main/main_base.html" %}
{% block content %}
    <!-- Recover -->
    <section>
        <div class="container">
            <div class="row">
                <div class="col-12">

                    <div class="wrapper-page">
                        <div class="account-pages">
                            <div class="account-box">
                                <!-- Logo Box -->
                                <div class="account-logo-box">
                                    <h2 class="text-uppercase text-center">
                                        <a href="{{ url_for("main.index") }}" class="text-success">
                                            <span><img src="{{ url_for("static",filename="images/logo_dark.png") }}"
                                                       alt="" height="28"></span>
                                        </a>
                                    </h2>
                                </div>

                                <div class="account-content">
                                    <form class="form-horizontal" action="{{ url_for("main.api_recoverpassword") }}" method="post">
                                        <div class="form-group mb-3 text-center">
                                            <p class="text-muted m-b-0 font-13">请输入您的邮箱地址，我们会将验证码以邮件形式发送给您</p>
                                        </div>

                                        <div class="form-row">
                                            <div class="form-group mb-3 col-7">
                                                <label for="emailaddress" class="font-weight-medium">邮箱地址</label>
                                                <input class="form-control" type="email" name="emailaddress" required=""
                                                       placeholder="john@example.com">
                                            </div>
                                            <div class="form-group mb-3 text-center col-5">
                                                <label class="font-weight-medium">&nbsp</label>
                                                    <button class="btn btn-block btn-primary waves-effect waves-light" type="button">发送验证码
                                                    </button>
                                            </div>

                                        </div>


                                        <div class="form-group mb-3">
                                            <label for="identifyingcode" class="font-weight-medium">验证码</label>
                                            <input class="form-control" type="password" required=""
                                                   name="identifyingcode" placeholder="输入验证码">
                                        </div>


                                        <div class="form-group mb-3">
                                            <label for="password" class="font-weight-medium">密码</label>
                                            <input class="form-control" type="password" required="" name="password"
                                                   placeholder="输入新密码">
                                        </div>

                                        <div class="form-group mb-3">
                                            <label for="confirmpassword" class="font-weight-medium">确认密码</label>
                                            <input class="form-control" type="password" required=""
                                                   name="confirmpassword" placeholder="输入新密码">
                                        </div>

                                        <div class="form-group row text-center">
                                            <div class="col-12">
                                                <button class="btn btn-block btn-success waves-effect waves-light"
                                                        type="submit">重置密码
                                                </button>
                                            </div>
                                        </div>
                                    </form> <!-- end form -->

                                    <div class="row mt-3">
                                        <div class="col-12 text-center">
                                            <p class="text-muted">返回 <a href="{{ url_for("main.login") }}"
                                                                             class="text-dark m-l-5"><b>登录</b></a>
                                            </p>
                                        </div>
                                    </div> <!-- end row -->

                                </div> <!-- end account-content -->

                            </div> <!-- end account-box -->
                        </div>
                        <!-- end account-page-->
                    </div>
                    <!-- end wrapper-page -->

                </div> <!-- end col -->
            </div> <!-- end row -->
        </div> <!-- end container -->
    </section>
    <!-- END Recover -->
{% endblock %}